

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: space-between;
}

.header, .sec1, .sec2, .sec3 , .sec4 {

}

/* =====
   header */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    padding: 10px;
}

.head-left{
    font-size: 24px;
    color: #f9faf8;
}


.head-right ul{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* =====
   Section 1 */

.sec1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    padding: 50px 100px;
}

.sec1-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    padding-left: 40px;
}

.bold {
    font-size: 48px;
    font-weight:900;
    color: #f9faf8
}

.subtext {
    font-size: 18px;
    color:#E5E7EB
}

.sign-up button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    border: 1px solid #3882f6;
    width: 80px;
    padding: 5px
}

.sec1-right {
   width: 50%;
   margin-left: 30px;
}

.imageheader img {
    height: 150px;
    width: 300px;
    object-fit: cover;
}


/* =====
   Section 2 */

.sec2 {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       background-color: white;
       padding: 10px;
   }

.sec2-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 10px;
}

.sec2-body {
    display: flex;
    justify-content: space-around;
    padding: 10px 20%;
}

.sec2-body .image {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.image img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 15%;
    border: 3px solid #3882f6;
    margin: 10px;
}

.image .text {
    width: 120px;
    height: 100px;
    padding: 0px 15px;
}

/* =====
   Section 3 */

.sec3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
    padding: 100px 150px;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.signature1, .signature2 {
    font-weight: 900;;
}

.signature1 {
    margin-left: 150px;
}

.signature2 {
    margin-left: 200px;;
}

/* =====
   Section 4 */

.sec4 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
   
}

.box {
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 5px;

}

.boxleft {

}

.action {
    font-size: 20px;
    font-weight: 700;
}

.small {
    font-size: 14px;
    color: #E5E7EB;
}

.boxright {
    width: 20%;
    margin-left: 30px;
    display: flex;
    justify-content: center;
}

.button2 button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10%;
    border: 2px solid #f9faf8;
    padding: 5px 10px;
}   

/* ======
   Footer
   ====== */

.footer {
    background-color: #1f2937;
    padding: 15px;
    text-align: center;
    color: #E5E7EB;
    font-size: 18px;
}
